%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-link:before {
  content: "\e900";
}

._icon-dotes:before {
  content: "\e901";
}

._icon-angle-right:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

._icon-linkedin:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-github:before {
  content: "\e906";
}